.dtmodal {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: initial;
    height: 50%;
    &__title{
        font-family: 'Courier New', Courier, monospace;
        color: #00b460;
        font-size: 55px;
        font-weight: bold;
    }
    &__items{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding-bottom: 20px;
        &__card{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            padding: 10px;
            border-style: solid;
            border-color: gray;
            border-radius: 20px;
        }
    }
}