.ekcard{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    background-color: #57c4e53d;
    border-radius: 25px;
    height: fit-content;

    &__header{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        
        &__image{
            height: 200px;
            width: 100%;
            border-radius: 25px;
        }

        &__title{
            font-family: 'Courier New', Courier, monospace;
            color: white;
            font-size: 2vw;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 300px;
            font-weight: bold;
            padding-top: 10px;

        }
    }

    &__body{
        &__status{
            display: flex;
            justify-content: center;
            align-items: baseline;
            height: auto;

            &__title {
                color: white;
                font-size: 100%;
                font-family: 'Courier New', Courier, monospace;
                padding-left: 10px;
            }

            &__icon{
                &--alive {
                    color: #55cc44;
                }
        
                &--dead {
                    color: #d63d2e;
                }
        
                &--unknown {
                    color: #9e9e9e;
                }
            }
        }

        &__info{
            &__lastKnownLocation{
                &__title{
                    color: #F97068;
                    font-size: 25px;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: bold;
                }

                &__info{
                color: white;
                font-size: 15px;
                font-family: 'Courier New', Courier, monospace;
                }
            }

            &__firstSeemIn{
                &__title{
                    color: #F97068;
                    font-size: 25px;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: bold;
                }

                &__info{
                    color: white;
                    font-size: 15px;
                    font-family: 'Courier New', Courier, monospace;
                }
            }
        }
    }

    &__footer{
        &__button{
            background-color: #57C4E5;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin-bottom: 20px;
            border-radius: 20px;
            &:hover {
                background-color: #D1D646;
                color: white;
              }
        }
    }

}