.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background: #edf2ef44;
    margin: 0;
    padding: 1rem 0;
    align-items: center;

    &__item{
        list-style: none;
        margin-right: 2rem;
        border-radius: 15px;
        background-color: #2288a7;
        padding: 10px;
        a{
            text-decoration: none;
            color: white;
        }
        &:hover{
            background-color: #D1D646;
            color: white;
        }
    }
}